
.cover-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.left {
  background: #ADADAD;
  width: 720px;
  height: 100vh;
  position: absolute;
  padding: 8rem  3rem 0 3rem;
  overflow: auto;
  border-right: solid 1px #222222;
}


.right {
  background: #D8FFA2;
  color: #ffffff;
  width: calc(100vw - 720px);
  height: 100vh;
  position: absolute;
  left: 720px;
}




.description-text {
  max-width: 500px;
  margin: 1em auto;
  font-family: 'Editorial New';
  color: #222222;
  /* color: #222222; */
  transition: color 0.75s;
}

.description-text:hover,
.description-text a {
  color: #222222;
}

.description-text .idyll-display {
  font-family: 'Graphik Web';
  font-weight: 400;
  font-size: 36px;
  margin-top: 0.5em;
  line-height: 1.2;
  display: block;
}

.article-authors {
  font-size: 22px;
  font-weight: lighter;
  text-decoration: none;
  font-family: 'Graphik Web';
}

.selected .article-authors {
  font-size: 18jpx;
}

.article-authors .idyll-display {
  font-family: 'Graphik Web';
}
.article-authors:hover {
  text-decoration: none;
}

.idyll-display {
  font-family: 'Editorial New';
}

.parametric-article-nav {
  position: fixed;
  width: 100vw;
  left: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
  right: 0;
}
.parametric-article-nav {
  font-size: 16px;
  line-height: 24px;
  padding-left: 50px;
}

.article-link-container {
  display: inline-block;
  margin-bottom: 1em;
}

.article-titles {
  font-family: 'Editorial New';
  font-size: 2.25rem;
  /* line-height: 3.5rem; */
  line-height: 1.2;
}

.information {
  font-family: 'Graphik Web';
  font-size: 1.5rem;
  line-height: 3rem;
}
.information a {
  color: #222222;
  text-decoration: none;
}
.information a:hover {
  text-decoration: underline;
}

.article-link-container a {
  color: #222222;
}
.article-link-container a .idyll-display {
  font-family: 'Editorial New';
}

.selected.article-link-container  a .idyll-display  {
  font-family: 'Graphik Web';
  font-weight: bold;
  text-decoration: underline;
}

.article-titles .selected {
  font-size: 1.85rem;
}


.article-visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.article-visual img {
  width: 100%;
  max-height: 50vh;
  max-width: 80%;
}

.divider  {
  padding: 0 0.5em;
  /* display: inline-block; */
}



.divider::after  {
  /* content: " * "; */
}


@media all and (max-width: 1200px) {
  .left, .right {
    width: 600px;
  }
  .right {
    width: calc(100vw - 600px);
    left: 600px;
  }

  .description-text .idyll-display {
    font-size: 22px;
  }

  .article-titles {
    font-size: 2rem;
  }
}

@media all and (max-width: 1000px) {
  .left, .right {
    width: 100%;
    height: auto;
    position: static;
    /* overflow: ; */
  }
  .right {
    display: none;
    left: 0;
    top: 100vh;
  }
}